doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    header.site-header
      h1= title
      p.tagline Group: #{groupName}
      nav
        a(href="/") Home
        span.sep |
        a(href="/health") Health (JSON)

    main.container
      block content

    footer.site-footer
      p © 2026 CampusCycle (Brothers)
