doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 CampusCycle
      nav
        a(href="/") Home |
        a(href="/users") Users
    block content
